<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Глухие урочища &mdash; {% block title %}{% endblock %}</title>
</head>
<body>
    {% if username %}  
        <h1>Привет, {{ username }}!</h1>  
        <p><a href="/logout">Выход</a></p>  
    {% else %}  
        <p><a href="/login">Вход для музыкантов и персонала</a></p>  
        <p><a href="/register">Регистрация музыкантов и групп</a></p>
    {% endif %} 

        <a href="/">Главная</a>
        <a href="/admin">Админка</a>
        <p><a href="/request">Создать заявку</a></p>
        <p><a href="/requests">Для автоматического перехода</a></p>

    {% block content %}
    {% endblock %}
</body>
</html>