<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Глухие урочища &mdash; {% block title %}{% endblock %}</title>
</head>
<body>
    {% if username %}  
        <h1>Привет, {{ username }}!</h1>  
        <p><a href="/logout">Выход</a></p>  
    {% else %}  
        <p><a href="/login">Вход для музыкантов и персонала</a></p>  
        <p><a href="/register">Регистрация музыкантов и групп</a></p>
    {% endif %} 

        <a href="/">Главная</a>
        <a href="/admin">Админка</a>
        <a href="/contacts">Контакты</a>
        <a href="/address">Как добраться</a>
        <p><a href="/request">Создать заявку</a></p>
        <p><a href="/requests">Для автоматического перехода</a></p>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>