<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Глухие урочища &mdash; {% block title %}{% endblock %}</title>
</head>
<body>
    <a href="/">Главная</a>
    {% if username %}  
        <h1>Привет, {{ username }}!</h1>  
        <p><a href="/logout">Выход</a>.</p>  
    {% else %}  
        <p><a href="/login">Вход для музыкантов и персонала</a></p>  
    {% endif %} 


    {% block content %}
    {% endblock %}
</body>
</html>