{% extends "base.html" %}

{% block title %}Заявка на участие{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Название</th>
        <th>Формат</th>
        <th>Сцена</th>
    </tr>
    
    {% for request in object_list %}
    <tr>
        <td>
            {{ request.request.name }}
        </td>
        <td>{{ request.request.get_format_display }}</td>
        <td>
            {{ request.request.scene }}
        </td>
        <td>
            <a href="{% url 'festival:voice_create' request_id=request.request.id %}">Голосовать</a>
        </td>
        <td></td>
    </tr>
    {% endfor %}    
</table>

{% endblock %}