{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Голосование</h1>
    <p>Вывести сюда содержимое заявки: </p>


    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <button type="submit" name="voice" value="YES">Голосую принять</button>
        <button type="submit" name="voice" value="NO">Голосую отказать</button>
        <button type="submit" name="voice" value="ABS">Воздерживаюсь</button>
    </form>



{% endblock %}